{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div id="loginArea">
    <div id="logoArea"></div>
    {% if error %}
        <div class="errArea">{{ error|trans }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <div id="loginForm">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <dl>
                <dt><label for="username">ユーザ名</label></dt>
                <dd><input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /></dd>
                <dt><label for="password">パスワード</label></dt>
                <dd><input type="password" id="password" name="_password" required="required" /></dd>
            <dl>
            <div>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">パスワードを忘れた場合</label>
            </div>
            <div>
                <input type="submit" id="_submit" name="_submit" value="ログイン" />
            </div>
        </div>
    </form>
</div>
{% endblock fos_user_content %}

