{% extends '::base.html.twig' %}


{% block body -%}
    <h1>Category creation</h1>

    {% include 'AtwTestBundle:Common:flashNotices.html.twig' %}

    {{ form_errors(form) }}
    {{ form_start(form, {'action':path('category_create'), 'method': 'POST'}) }}
        {% include 'AtwTestBundle:Category:form.html.twig' %}
    {{ form_end(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('category') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
